[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/live/Desktop/xfce-display-settings.desktop]
row=4
col=0

[/home/live/Desktop/AntiS-Users-Guide.md]
row=5
col=0

[/home/live/Desktop/AntiS-Users-Guide.html]
row=0
col=1

[2021-05-02-13-47-52-01]
row=0
col=0

[回收站]
row=1
col=0

[/]
row=2
col=0

[/home/live]
row=3
col=0

