[Desktop Entry]
Name=Jitsi
Name[zh_CN]=Jitsi 加密视频通讯
Name[zh_HK]=Jitsi 加密视频通讯
Name[zh_TW]=Jitsi 加密视频通讯
GenericName=Jitsi
Comment=VoIP and Instant Messaging client
Comment[zh_CN]=端对端加密的视频通讯工具（取代 Skype）
Comment[zh_HK]=端对端加密的视频通讯工具（取代 Skype）
Comment[zh_TW]=端对端加密的视频通讯工具（取代 Skype）
Keywords=chat;messaging;im;voip;video;call;conference;
Icon=/usr/share/pixmaps/jitsi.svg
Type=Application
Categories=Network;X-Antigfw;
Exec=jitsi
Terminal=false
