[Desktop Entry]
Encoding=UTF-8
Exec=firejail thunderbird
Icon=/usr/share/pixmaps/thunderbird.png
Type=Application
Categories=Network
Name=Thunderbird (in jail)
Name[bn]=থাণ্ডারবার্ড
Name[eo]=Mozilo Tondrobirdo
Name[fi]=Mozilla Thunderbird
Name[pa]=ਥੰਡਰਬਰਡ
Name[tg]=Паррандаи бало
Name[zh_CN]=雷鸟邮件客户端(in jail)
Name[zh_TW]=雷鸟郵件處理程式(in jail)
GenericName=Mail Client
GenericName[af]=Pos Kliënt
GenericName[ar]=البريد الألكتروني
GenericName[az]=Poçt Alıcısı
GenericName[be]=Паштовы кліент
GenericName[bg]=Пощенски клиент
GenericName[bn]=ইমেইল ক্লায়েন্ট
GenericName[br]=Arval postel
GenericName[bs]=Program za čitanje elektronske pošte
GenericName[ca]=Client de correu electrònic
GenericName[cs]=Klient pro čtení elektronické pošty
GenericName[cy]=Dibynnydd Ebost
GenericName[da]=E-mail-klient
GenericName[de]=E-Mail-Programm
GenericName[el]=Πελάτης mail
GenericName[eo]=Legi kaj sendi retpoŝton
GenericName[es]=Cliente de correo electrónico
GenericName[et]=Meiliklient
GenericName[eu]=Posta bezeroa
GenericName[fa]=کارگیر پست الکترونیکی
GenericName[fi]=Sähköpostiohjelma
GenericName[fo]=Postforrit
GenericName[fr]=Logiciel de messagerie électronique
GenericName[ga]=Cliant Ríomhphoist
GenericName[gl]=Cliente de correo
GenericName[he]=תוכנית דואר
GenericName[hi]=डाकिया
GenericName[hr]=Program za čitanje elektronske pošte
GenericName[hu]=Levelezőprogram
GenericName[id]=Klien Mail
GenericName[is]=Póstforrit
GenericName[it]=Programma di posta elettronica
GenericName[ja]=メールクライアント
GenericName[ko]=편지를 주고 받는 프로그램
GenericName[lo]=ໄຄແເອັນຈົດຫມາຍເອເລັກໂຕນິກ
GenericName[lt]=Pašto klientas
GenericName[lv]=Pasta Klients
GenericName[mk]=Програма за електронска пошта
GenericName[mn]=Э-Захиа-Програм
GenericName[mt]=Klijent tal-imejl
GenericName[nb]=E-postklient
GenericName[nds]=Mailprogramm
GenericName[nl]=E-mailclient
GenericName[nn]=Lesing og sending av e-post
GenericName[nso]=Moreki wa Poso
GenericName[oc]=Programari de correu electrònic
GenericName[pa]=ਪੱਤਰ ਕਲਾਂਇਟ
GenericName[pl]=Program do wysyłania i odbierania poczty elektronicznej
GenericName[pt]=Client de E-mail
GenericName[pt_BR]=Cliente de E-mail
GenericName[ro]=Program de poştă electronică
GenericName[ru]=Клиент электронной почты
GenericName[se]=Boastaprográmma
GenericName[sk]=Klient elektronickej pošty
GenericName[sl]=Program za e-pošto
GenericName[sr]=Програм за e-пошту
GenericName[sr@Latn]=Program za e-poštu
GenericName[ss]=Likhasimende leliposi
GenericName[sv]=E-postklient
GenericName[ta]=அஞ்சல் உறுப்பினர்
GenericName[tg]=Коргири почтаи эллектроникӣ
GenericName[th]=ไคลเอนต์จดหมายอิเล็กทรอนิกส์
GenericName[tr]=Posta İstemcisi
GenericName[uk]=Клієнт електронної пошти
GenericName[uz]=Хат-хабар клиенти
GenericName[ven]=Mushumisani na poso
GenericName[wa]=Cliyint d' emilaedje
GenericName[xh]=Umxhasi Weposi
GenericName[zh_CN]=邮件程序
GenericName[zh_TW]=郵件處理程式
GenericName[zu]=Umxhasi weposi
X-KDE-StartupNotify=true
