[Desktop Entry]
Name=Riot
Name[zh_CN]=Riot 加密聊天室
Name[zh_HK]=Riot 加密聊天室
Name[zh_TW]=Riot 加密聊天室
Comment=A feature-rich client for Matrix.org
Comment[zh_CN]=一个基于 Matrix.org 的端对端加密群聊工具（取代IRC）
Comment[zh_HK]=一个基于 Matrix.org 的端对端加密群聊工具（取代IRC）
Comment[zh_TW]=一个基于 Matrix.org 的端对端加密群聊工具（取代IRC）
Exec="/usr/bin/riot-web"
Terminal=false
Type=Application
Icon=riot-web
StartupWMClass=riot
Categories=Network;X-Antigfw
