[Desktop Entry]
Exec=/home/live/.local/bin/start-v2rayA.sh %u
Icon=/home/live/.local/share/pixmaps/v2raya.png
Type=Application
Categories=Network;
Name=v2rayA
Name[zh_CN]=v2rayA 图形化客户端
Name[zh_HK]=v2rayA 图形化客户端
Name[zh_TW]=v2rayA 图形化客户端
GenericName=v2rayA 图形化客户端及节点管理器
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
X-KDE-StartupNotify=true
Terminal=true
