[Desktop Entry]
Name=Wireguard
Comment[zh_CN]=VPN
Exec=su -c 'wg-quick up ./Desktop/wg0.conf'
Icon=utilities-system-monitor
Type=Application
Categories=Network
Terminal=true
