[Pinyin]
# 使用不完整拼音
# 可选值：
# True False
#Incomplete=True
# 拼音和双拼使用繁体中文数据 (需要重启)
# 可选值：
# True False
#UseTraditionalChineseData=False

[Zhuyin]
# 使用声调
# 可选值：
# True False
#UseTone=True
# 使用不完整注音
# 可选值：
# True False
#Incomplete=True
# 注音布局
# 可选值：
# Standard
# IBM
# GinYieh
# ET
#Layout=Standard
# 注音候选词修饰键
# 可选值：
# Ctrl
# Alt
# Shift
#CandidateModifiers=Alt
# 注音前一页
#PrevPage=PGUP UP
# 注音下一页
#NextPage=PGDN DOWN
# 注音使用简体中文数据 (需要重启)
# 可选值：
# True False
#UseSimplifiedChineseData=False

[Shuangpin]
# 双拼方案
# 可选值：
# Ziranma
# Microsoft
# ZiGuang
# ABC
# PinyinJiaJia
# XiaoHe
#Scheme=Ziranma

[Correction]
# V -> U
# 可选值：
# True False
#VU=False
# GN -> NG
# 可选值：
# True False
#GNNG=True
# MG -> NG
# 可选值：
# True False
#MGNG=False
# IOU -> IU
# 可选值：
# True False
#IOUIU=False
# UEI -> UI
# 可选值：
# True False
#UEIUI=False
# UEN -> UN
# 可选值：
# True False
#UENUN=False
# UE -> VE
# 可选值：
# True False
#UEVE=False
# ON -> ONG
# 可选值：
# True False
#ONONG=False

[Ambiguity]
# 排序方式
# 可选值：
# By Phrase Length and Frequency
# By Phrase Length and Pinyin Length and Frequency
#Sort=By Phrase Length and Pinyin Length and Frequency
# Ci <-> Chi
# 可选值：
# True False
#CiChi=False
# Zi <-> Zhi
# 可选值：
# True False
#ZiZhi=False
# Si <-> Shi
# 可选值：
# True False
#SiShi=False
# Ne <-> Le
# 可选值：
# True False
#LeNe=False
# Fo <-> He
# 可选值：
# True False
#FoHe=False
# Le <-> Ri
# 可选值：
# True False
#LeRi=False
# Ge <-> Ke
# 可选值：
# True False
#GeKe=False
# An <-> Ang
# 可选值：
# True False
#AnAng=False
# En <-> Eng
# 可选值：
# True False
#EnEng=False
# In <-> Ing
# 可选值：
# True False
#InIng=False

[Dictionary]
# 艺术
# 可选值：
# True False
#Art=False
# 文化
# 可选值：
# True False
#Culture=False
# 经济
# 可选值：
# True False
#Economy=False
# 地理
# 可选值：
# True False
#Geology=False
# 历史
# 可选值：
# True False
#History=False
# 生活
# 可选值：
# True False
#Life=False
# 自然
# 可选值：
# True False
#Nature=False
# 人文
# 可选值：
# True False
#People=False
# 科学
# 可选值：
# True False
#Science=False
# 社会
# 可选值：
# True False
#Society=False
# 运动
# 可选值：
# True False
#Sport=False
# 技术
# 可选值：
# True False
#Technology=False

[Dictionary Zhuyin]
# 艺术
# 可选值：
# True False
#Art=False
# 文化
# 可选值：
# True False
#Culture=False
# 经济
# 可选值：
# True False
#Economy=False
# 地理
# 可选值：
# True False
#Geology=False
# 历史
# 可选值：
# True False
#History=False
# 生活
# 可选值：
# True False
#Life=False
# 自然
# 可选值：
# True False
#Nature=False
# 科学技术
# 可选值：
# True False
#Scitech=False
# 社会
# 可选值：
# True False
#Society=False
# 运动
# 可选值：
# True False
#Sport=False

